div.cropbox .imageBox {
    position: relative;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}
div.cropbox .imageBox .thumbBox {
    position: absolute;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}
div.cropbox .cropped {
    margin-top: 10px;
    margin-bottom: 10px;
}
div.cropbox .btn-file {
    position: relative;
    overflow: hidden;
}
div.cropbox .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}